#vpvThemes {
  position: fixed;
  top: 10%;
  left: calc((100vw - 600px) / 2);
  z-index: 900;
  width: 500px;
  height: 600px;
  padding: 24px;
  border-radius: 4px;
  overflow-x: visible;
  overflow-y: hidden;
  background-color: #F3F3F3;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  border: 2px solid #B1B1B1;
}
#vpvThemes::after {
  content: "";
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  height: 4%;
  background: linear-gradient(rgba(243,243,243,0) 0% , rgba(243,243,243,1) 100%);
  pointer-events: none;
}
#vpvOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 899;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
#vpvThemes .themes {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
#vpvThemes .themes .theme {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4px);
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #B5A7F2;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.4s;
}
#vpvThemes .themes .theme.press {
  transform: translate(2px, 2px);
}
#vpvThemes .themes .theme .name {
  color: #2D2B3A;
}
#vpvThemes .themes .theme .id {
  color: #63607C;
  font-weight: 500;
}
#vpvThemes .themes .theme .copied {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #63607C;
  color: #FFF;
  text-align: center;
  transition: opacity 1s;
  border-radius: 4px;
}
#vpvThemes .themes .theme .copied.fade {
  opacity: 0;
}
#vpvThemes .themes .theme.theme--live {
  background-color: #927DEC;
}
#vpvThemes .themes .theme.theme--live .name {
  color: #FFF;
}
#vpvThemes .themes .theme.theme--live .id {
  color: #FFF;
  font-weight: 500;
}